fruit_counter
Simple_Numbers/01_FindDigitPos
Simple_Numbers/01_FindDigitPos_v2
Simple_Numbers/02_countOfDigit
Simple_Numbers/03_largestDigit
Simple_Numbers/04_SecondLargestDigit
Simple_Numbers/05_kthLargestDigit
